<launch>
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="camera1"/>'
	<arg name="node_namespace" value="apriltag_ros_continuous_node1" />

    </include>

    <include name="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="camera2"/>
	<arg name="node_namespace" value="apriltag_ros_continuous_node2" />
    </include>
  </launch>
