<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="ps" default="ps1" />
    <arg name="world_file" value="$(find dot_gazebo)/world/ps1/ps1_apriltag.world" 
        if="$(eval arg('ps') == 'ps1')" />
    <arg name="world_file" value="$(find dot_gazebo)/world/ps2/ps2_nosignal.world" 
        if="$(eval arg('ps') == 'ps2')" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro 
                                                        '$(find dot_description)/xacro/main.urdf.xacro'" />

    <arg name="x" default="1"/>
    <arg name="y" default="1"/>
    <arg name="z" default="0.5"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model dot -x $(arg x) -y $(arg y) -z $(arg z)" />
  <include file="$(find dot_control)/launch/bring_up.launch" /> 
</launch>
