<?xml version="1.0"?>
<launch>
  
  
  <!-- Launching the simulation  -->
  <include file="$(find dot_gazebo)/launch/gazebo.launch" />

  <!-- Launching the teleoperation keyboard node -->
  <node name="teleop_keyboard" pkg="dot_teleop" type="dot_teleop" launch-prefix="gnome-terminal --" />
  
  <!-- Launching RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dot_planner)/rviz/dot_planner.rviz"/>
 
 <!-- odom publisher -->
 <node name="gazebo_odom" pkg="dot_odom" type="dot_odom"/>  
 
</launch>
